# Node modules
node_modules/

# Build output
build/

# Logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables
.env
.env.*

# VSCode settings
.vscode/
